# Hardware Configuration for HMC5883L SPI Application
# Raspberry Pi 2W / Pi 4

[magnetometer]
type = HMC5883L
interface = SPI
spi_bus = 0
spi_device = 0
cs_pin = CE0
scl_pin = SCLK
sda_pin = MOSI
sdo_pin = MISO
irq_pin = None

[power]
vcc = 3.3V
max_current_ma = 5

[board]
model = Raspberry Pi 2W / Pi 4
gpio_scheme = BCM
pull_up = false
